
// Website Colors
// ==============
$primary-color: #742F8B;
$secondary-color: #C03068;


$blue-color: #97CBEC;
$lilac-color: #BA80D0;
$brown-color: #D0B5A8;
$gray-color: #c7c7c7;

$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;

$headings-color: $primary-color;
$text-color: #515151;
$text-color-light: $text-color;

$background-color: #dfdedb;
$overlay-color: rgba(#080808, .26);
$shadow-color: rgba(#000000, .2);

$light-background: #e8e7e5;
$dark-background: #6f7074;
$border-color: #d8d8d8;

